---
layout: default
---
<h1>The Holloways</h1>
<p>We are Mike & Amy, a Husband and Wife from Worcester UK and this is our shared blog.</p>

{% assign year = null %}
<dl class="posts">
{% for post in site.data reversed %}
  {% assign currentYear = post[1].reviewed_on | date: "%Y" %}
  {% if currentYear != year %}
    <dt class="year">{{ currentYear }}</dt>
    {% assign year = currentYear %}
  {% endif %}
  {% if post[1].opinions.amy.isRecommended == post[1].opinions.mike.isRecommended %}
    {% if post[1].opinions.amy.isRecommended %}
      {% assign decision = "Recommended" %}
    {% else %}
      {% assign decision = "Disapproves" %}
    {% endif %}
  {% else %}
    {% assign decision = "Split" %}
  {% endif %}
  <dd class="post"><a href="{{ site.baseurl }}/{{ post[1].slug }}" class="post__link"><span class="post__date">{{ post[1].reviewed_on | date: "%d.%m" }}</span> <span class="post__title">{{ post[1].title }}</span> <span class="post__decision split">{{ decision }}</span></a></dd>
{% endfor %}