---
layout: default
---
<h1>The Holloways</h1>
<p>We are Mike & Amy, a Husband and Wife from Worcester UK and this is our shared blog.</p>

{% assign year = null %}
<dl class="posts">
{% for post in site.posts %}
  {% assign data = site.data[post.data] %}
  {% assign currentYear = data.reviewed_on | date: "%Y" %}
  {% if currentYear != year %}
    <dt class="year">{{ currentYear }}</dt>
    {% assign year = currentYear %}
  {% endif %}
  {% if data.opinions.amy.isRecommended == data.opinions.mike.isRecommended %}
    {% if data.opinions.amy.isRecommended %}
      {% assign decision = "Recommended" %}
    {% else %}
      {% assign decision = "Disapproves" %}
    {% endif %}
  {% else %}
    {% assign decision = "Split" %}
  {% endif %}
  <dd class="post"><a href="/{{ data.slug }}" class="post__link"><span class="post__date">{{ data.reviewed_on | date: "%d.%m" }}</span> <span class="post__title">{{ data.title }}</span> <span class="post__decision split">{{ decision }}</span></a></dd>
{% endfor %}